<template>
	<section id="contact" class="section p-0px-b contact-section gray-bg">
	    <div class="container">
	        <div class="row justify-content-center m-60px-b md-m-40px-b">
	            <div class="col-12 col-md-10 col-lg-7">
	                <div class="section-title text-center">
	                    <h2 class="font-alt">Contact</h2>
	                    <p>I design and develop services for customers of all sizes, specializing in creating stylish, modern websites, web services and online stores. My passion is to design digital user experiences through the bold interface.</p>
	                </div>
	            </div>
	        </div>

	        <div class="contact-us-box">
	            <div class="row no-gutters">
	                <div class="col-md-6">
	                    <div class="contact-info-box">
	                        <h2>get in touch</h2>
	                        <p class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>

	                        <div class="contact-info">
	                            <i class="icon theme-bg ti-direction"></i>
	                            <p>La Victoria de Acentejo,<br> Spain, Santa Cruz de Tenerife </p>
	                        </div>

	                        <div class="contact-info">
		                        <i class="icon theme-bg ti-email"></i>
		                        <p>JSBalcaza@gmail.com<br>josesb@website.com</p>
	                        </div>

	                        <div class="contact-info">
	                        	<a href="tel:+34662411139">
			                        <i class="icon theme-bg ti-mobile"></i>
			                        <p>( +34 ) 662-41-11-39<br> </p>
		                        </a>
	                        </div>
	                    </div>
	                </div>

	                <div class="col-md-6">
	                    <!-- Contact Form -->
	                    <div class="contact-form">
	                        <h2>Say Something</h2>
	                        <form @submit.prevent="send">
	                            <div class="form-group">
	                                <input placeholder="Name" class="form-control" :class="validName ?  '' : 'is-valid'" type="text" v-model="form.name">
	                            </div>

	                            <div class="form-group">
	                                <input name="Email" placeholder="Email" class="form-control" :class="validEmail ?  '' : 'is-valid'" type="email" v-model="form.email">
	                            </div>

	                            <div class="form-group">
	                                <input name="Subject" placeholder="Subject" class="form-control" :class="validSubject ?  '' : 'is-valid'" type="text" v-model="form.subject">
	                            </div>

	                            <div class="form-group">
	                                <textarea name="Comment" placeholder="Describe your project" rows="3" class="form-control" :class="validComment ?  '' : 'is-valid'" v-model="form.comment"></textarea>
	                            </div>

	                            <div class="send">
	                                <button class="m-btn m-btn-theme" :disabled="validForm">
	                                    <i class="fa fa-envelope-o" aria-hidden="true"></i>Send
	                                </button>
	                            </div>
	                        </form>
	                    </div>
	                    <!-- / -->
	                </div>
	            </div>
	        </div>
	    </div> <!-- Container -->
	</section>
</template>

<script>
	export default{
		data(){
			return{
				form:{}
			}
		},
		methods:{
			send(){
				this.$store.dispatch('saveContact',this.form)
				.then(response => {
					this.$swal('Success!','Your email was sent successfully!', "success")
					this.form = {}
				}).catch(error => { 
					this.$swal('Error!',error, "error")
				})
			}
		},
		computed:{
			validName(){
				return this.form.name == null || this.form.name.trim()  == ''
			},
			validEmail(){
				return this.form.email == null || this.form.email.trim() == '' || !this.validateEmail
			},
			validateEmail(){
				var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                return re.test(this.form.email);
			},
			validSubject(){
				return this.form.subject == null || this.form.subject.trim() == ''
			},
			validComment(){
				return this.form.comment == null || this.form.comment.trim() == '' 
			},
			validForm(){
				return 	this.form.name 	== null || 
						this.form.email == null ||
						this.form.subject == null ||
						this.form.comment == null 
			}
		}
	}
</script>
